<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="about">FullEndDev</a>
    <button
      class="navbar-toggler text-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="about" routerLinkActive="active text-dark rounded-2 fw-bold " (click)="closeMenu()">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="portfolio" routerLinkActive="active text-dark rounded-2 fw-bold" (click)="closeMenu()">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="contact" routerLinkActive="active rounded-2 fw-bold" (click)="closeMenu()">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
